@font-face {
    font-family: 'Code';
    src: url('Code-Light.eot');
    src: url('Code-Light.eot?#iefix') format('embedded-opentype'),
        url('Code-Light.woff2') format('woff2'),
        url('Code-Light.woff') format('woff'),
        url('Code-Light.ttf') format('truetype'),
        url('Code-Light.svg#Code-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

